In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('health_indicators.csv')

In [6]:
df = data

In [9]:
county_totals = df.groupby('County').agg({
    'Numerator_Total': 'sum',
    'Denominator_Total': 'sum'
}).reset_index()

In [10]:
county_totals

             County  Numerator_Total  Denominator_Total
0           Alameda            11792            6687420
1            Alpine               12               4460
2            Amador              642             150308
3             Butte             2421             825448
4         Calaveras              627             177144
5            Colusa              180              88300
6      Contra Costa             9090            4599200
7         Del Norte              360             108772
8         El Dorado             2087             768048
9            Fresno             8839            4105432
10            Glenn              286             118028
11         Humboldt             1690             530824
12         Imperial             1417             752360
13             Inyo              223              73716
14             Kern             8136            3651900
15            Kings             1131             618980
16             Lake             1046             255084
17           Lassen              291             115488
18      Los Angeles            93004           40686372
19           Madera             1323             635176
20            Marin             2258            1035824
21         Mariposa              271              71112
22        Mendocino             1163             349964
23           Merced             2210            1139044
24            Modoc              143              37664
25             Mono               59              53788
26         Monterey             2815            1765160
27             Napa             1492             554844
28           Nevada             1261             389756
29           Orange            26043           12763328
30           Placer             4031            1589876
31           Plumas              320              72984
32        Riverside            23870            9797196
33       Sacramento            14308            6248968
34       San Benito              438             251156
35   San Bernardino            18996            8736448
36        San Diego            26615           13408580
37    San Francisco             6772            3599564
38      San Joaquin             6525            3104272
39  San Luis Obispo             2667            1104604
40        San Mateo             5588            3100528
41    Santa Barbara             3620            1805316
42      Santa Clara            12506            7849004
43       Santa Cruz             2007            1080268
44           Shasta             2558             710768
45           Sierra               48              12468
46         Siskiyou              720             175168
47           Solano             4098            1760792
48           Sonoma             4884            1964536
49       Stanislaus             5280            2223820
50           Sutter              966             404640
51           Tehama              925             261064
52          Trinity              187              53164
53           Tulare             3974            1923152
54         Tuolumne              790             209412
55          Ventura             7715            3365756
56             Yolo             1583             886872
57             Yuba              776             316356

In [13]:
county_totals['County_Rate'] = (county_totals['Numerator_Total'] / (county_totals['Denominator_Total']/4))*1000

In [21]:
county_totals = county_totals[['County', 'County_Rate']]
county_totals

             County  County_Rate
0           Alameda     7.053243
1            Alpine    10.762332
2            Amador    17.084919
3             Butte    11.731811
4         Calaveras    14.157973
5            Colusa     8.154020
6      Contra Costa     7.905723
7         Del Norte    13.238701
8         El Dorado    10.869112
9            Fresno     8.612005
10            Glenn     9.692615
11         Humboldt    12.734918
12         Imperial     7.533628
13             Inyo    12.100494
14             Kern     8.911526
15            Kings     7.308798
16             Lake    16.402440
17           Lassen    10.078969
18      Los Angeles     9.143504
19           Madera     8.331549
20            Marin     8.719628
21         Mariposa    15.243559
22        Mendocino    13.292796
23           Merced     7.760894
24            Modoc    15.186916
25             Mono     4.387596
26         Monterey     6.379025
27             Napa    10.756177
28           Nevada    12.941430
29           Orange     8.161821
30           Placer    10.141671
31           Plumas    17.538091
32        Riverside     9.745646
33       Sacramento     9.158632
34       San Benito     6.975744
35   San Bernardino     8.697356
36        San Diego     7.939692
37    San Francisco     7.525356
38      San Joaquin     8.407768
39  San Luis Obispo     9.657760
40        San Mateo     7.209095
41    Santa Barbara     8.020756
42      Santa Clara     6.373293
43       Santa Cruz     7.431489
44           Shasta    14.395696
45           Sierra    15.399423
46         Siskiyou    16.441359
47           Solano     9.309447
48           Sonoma     9.944333
49       Stanislaus     9.497172
50           Sutter     9.549229
51           Tehama    14.172770
52          Trinity    14.069671
53           Tulare     8.265597
54         Tuolumne    15.089871
55          Ventura     9.168817
56             Yolo     7.139700
57             Yuba     9.811731

In [22]:
county_totals.to_csv('county_rate.csv', index=False)